@charset "UTF-8";

body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
	text-align: center;
  background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	flex: 1;
  /* background-color: #fedfe1; */
  /* background-image: linear-gradient(90deg, #d9a7c7, #fefade); */
}
a {
  color: #270e03;
}
a:link, a:visited, a:hover, a:active {
  color: #270e03;
}
main{
  flex: 1;
}

/*　パディングをサイズ内側にする処理　*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* HEDDER */
.page-header{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	height: 60px;
	border: 1px #efefef solid;
  background-color: #ef7c21;
}
/* navi */
.navi{
	display: flex;
	list-style: none;
	justify-content: right;
}
.nav_box{
	padding-left: 20px;
	padding-top: 12px;
	padding-right: 16px;
}

/*  トップ ページ */
.top_top{
  background-size: cover;
	background-position: center top;
  background-repeat: no-repeat;
  flex: 1;
}
.top_contents{
  display: flex;
  align-items: center;
  width: 99%;
  padding-top: 10px;
}
.top_image{
  width: 50%;
}
.top_text{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_text_text{
  width: 85%;
}
.top_jpg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top_button_n{
	background: #e2eba3;
	border-radius: 5px;
	padding: 12px 26px;
	margin-right: 10px;
}
.top_button_l{
	background: #e2eba3;
	border-radius: 5px;
	padding: 12px 26px;
}
.edit_button{
	background: #e2eba3;
	border-radius: 5px;
	padding: 12px 26px 12px 26px;
  margin-right: 0 0 30px 30px;
}
.newdata_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.file_button{
	background: #e2eba3;
	border-radius: 5px;
	padding: 12px 26px;
  margin-top: 10px;
}

/*  ログインページ */
.login_top{
  background-size: cover;
	background-position: center top;
  background-repeat: no-repeat;
}
.login_button{
	padding-top: 30px;
}


/* トップ	 文字装飾 */
.title_text{
	text-align: center;
	color: white;
	font-style: italic;
}
.title_h1{
	font-size: 48px;
	padding-top: 100px;
}
.title_p{
	font-size: 36px;
}


h1{
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin: 0 0 0 0;
}
h2{
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin: 0 0 0 0;
}


/* 自分名刺 */
.my_page_contents{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 50px;
}
.myCard_left{
	width: 40%;
}
.myCard_right{
	width: 60%;
}
.card_edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file_upload{
  width: 350px;
  padding: 10px 0 10px 0;
}
.fa-twitter{
  font-family: "Font Awesome 5 Brands";
  content: '\f099';
	color: #55acee;
	font-size: 30px;
	padding-top: 20px;
}
/* .invisible {
	display: none;
}

#tr1{
	background-color: #ccc;
}
#tr2{
	background-color: yellow;
}
#tr3{
	background-color: pink;
} */

.list_1_table table{
  width: 100%;
  border-collapse: collapse;
}

.list_1_table table tr{
  border-bottom: solid 2px white;
}

.list_1_table table tr:last-child{
  border-bottom: none;
}

.list_1_table table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  /* padding: 10px 0; */
  padding: 2px 5px 2px 5px;
}

.list_1_table table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.list_1_table table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}


.form_1_table form{
  width: 100%;
  border-collapse: collapse;
	
}

.form_1_table label:last-child{
  border-bottom: none;
}

.form_1_table label{
	display: flex;
	flex-direction: column;
  border-bottom: solid 2px white;
  position: relative;
  width: 30%;
  background-color: #6d26be;
  color: white;
  text-align: center;
  /* padding: 10px 0; */
  padding: 2px 5px 2px 5px;
}

.form_1_table label:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  /* border-left: 10px solid #c5b2db; */
  border-left: 10px solid #6d26be;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.form_1_table input{
  /* text-align: left; */
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
	border-style: solid;
}

/* QR */
.qr_index{
  padding: 200px 0 200px 0;
}
.show-qr{
  text-align: center;
  padding-top: 50px;
}

/* guest_page */
.guest_contents{
  width: 70%;
  display: flex;
  justify-content: center;
}
/* .guest_page_box{
  display: flex;
  justify-content: center;
} */
.guest_image{
  display: flex;
  justify-content: center;
}

/* FOOTER */
footer{
	background-color:#707070;
	color: white;
	font-size: 14px;
	margin-top: 50px;
}
footer p{
	padding: 5px;
}
